body {
    margin-top: 100px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
}
//Blackjack design
h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

#start-btn {
    color: #016f32;
    width: 225px;
    background: goldenrod;
    border: none;
    font-weight: bold;
    padding: 6px 12px;
    font-size: 25px;
    border-radius: 4px;
}
